{
  "presets": ["@babel/preset-env", "@babel/preset-flow", "@babel/preset-react"],
  "plugins": [
    // Stage 0
    "@babel/plugin-proposal-function-bind",
    "@babel/plugin-transform-flow-strip-types"
  ]
}
